" Options
set nooldundo

set relativenumber
set number

set visualbell

set clipboard+=unnamed
set clipboard+=ideaput

set commentary

imap jk <Esc>

let mapleader=" "

nnoremap <space>bn :bn<CR>
nnoremap <space>bp :bp<CR>
nnoremap <space>bd :bd<CR>
